In [1]:
import sqlite3

conn = sqlite3.connect("../faculty.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS faculty(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    profile TEXT,
    education TEXT,
    phone TEXT,
    address TEXT,
    email TEXT,
    specialization TEXT,
    personal_links TEXT,
    bio TEXT,
    teaching TEXT,
    research_areas TEXT,
    journal_articles TEXT,
    conference_papers TEXT
)
""")

conn.commit()
conn.close()

print("Table created")

Table created

In [2]:
import json
import sqlite3

# Load JSON
with open("../data/raw_data.json", "r", encoding="utf-8") as f:
    data = json.load(f)

conn = sqlite3.connect("../faculty.db")
cursor = conn.cursor()

for row in data:
    cursor.execute("""
    INSERT INTO faculty (
        name, profile, education, phone, address, email,
        specialization, personal_links, bio, teaching,
        research_areas, journal_articles, conference_papers
    )
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, (
        row.get("name"),
        row.get("profile"),
        row.get("education"),
        row.get("phone"),
        row.get("address"),
        row.get("email"),
        str(row.get("specialization")),
        row.get("personal_links"),
        row.get("bio"),
        str(row.get("teaching")),
        row.get("research_areas"),
        str(row.get("journal_articles")),
        str(row.get("conference_papers"))
    ))

conn.commit()
conn.close()

print("JSON data inserted")

JSON data inserted

In [3]:
import sqlite3

conn = sqlite3.connect("../faculty.db")
cursor = conn.cursor()

cursor.execute("SELECT COUNT(*) FROM faculty")
print("Total rows:", cursor.fetchone()[0])

conn.close()

Total rows: 175