In [86]:
import pandas as pd

In [87]:
df=pd.read_csv("../data/raw_data.csv")
df.sample(5)

,name,profile,education,phone,address,email,specialization,personal_links,bio,teaching,research_areas,journal_articles,conference_papers
20,Jenson joseph,https://www.daiict.ac.in/faculty/jenson-joseph,"PhD (Communication), University of Hyderabad, ...",079-68261536,"# 3205, FB-3, DA-IICT, Gandhinagar, Gujarat, I...",jenson_joseph[at]dau[dot]ac[dot]in,"History and theory of Media, Film Studies, Cul...",NaN,My research work probes the links between medi...,"['Introduction to Narratology', 'Indian Cinema...",NaN,NaN,NaN
103,Umang shah,https://www.daiict.ac.in/adjunct-faculty/umang...,"PDP Programme, Aalto University, Finland",NaN,NaN,umang_shah[at]dau[dot]ac[dot]in,a. Integrated Interdisciplinary Design b. Desi...,NaN,NaN,['a. Integrated Interdisciplinary Design b. De...,NaN,NaN,NaN
31,P m jat,https://www.daiict.ac.in/faculty/p-m-jat,"PhD (Computer Science and Engineering), ML Suk...",079-68261641,"# 2203, FB-2, DA-IICT, Gandhinagar, Gujarat, I...",pm_jat[at]dau[dot]ac[dot]in,Databases,NaN,NaN,"['Database Management System', 'Data Mining', ...",NaN,NaN,NaN
83,Binay bhushan chakrabarti,https://www.daiict.ac.in/adjunct-faculty/binay...,"PhD (Economics), Jadavpur University Calcutta",NaN,NaN,binaybhushan_chakrabarti[at]dau[dot]ac[dot]in,Finance,NaN,NaN,"['Finance', 'Finance']",NaN,NaN,NaN
73,Ranjan pal,https://www.daiict.ac.in/adjunct-faculty-inter...,"PhD (Computer Science), Provost PhD Fellow (Hi...",Adjunct Chair,NaN,"ranjanpal9[at]gmail[dot]com, ranjanp[at]mit[do...","Cyber Risk Management, Cyber Resilience, Cyber...",NaN,NaN,"['Cyber Risk Management, Cyber Resilience, Cyb...",NaN,NaN,NaN

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               108 non-null    object
 1   profile            108 non-null    object
 2   education          106 non-null    object
 3   phone              74 non-null     object
 4   address            73 non-null     object
 5   email              107 non-null    object
 6   specialization     104 non-null    object
 7   personal_links     44 non-null     object
 8   bio                65 non-null     object
 9   teaching           107 non-null    object
 10  research_areas     19 non-null     object
 11  journal_articles   17 non-null     object
 12  conference_papers  18 non-null     object
dtypes: object(13)
memory usage: 11.1+ KB

In [89]:
df.isnull().sum()

name                  0
profile               0
education             2
phone                34
address              35
email                 1
specialization        4
personal_links       64
bio                  43
teaching              1
research_areas       89
journal_articles     91
conference_papers    90
dtype: int64

## Handle Null Value

| Column                              | What to do                  |
| ----------------------------------- | --------------------------- |
| phone, email, address,specialization              | Fill with `"Not Available"` |
| personal_links                        |  Fill with `"Not Provided"`     |
| journal_articles, conference_papers | Fill with `0`   |
| bio, teaching                       | Fill with `"Not Provided"`  |

In [90]:
df.fillna({
    "phone": "Not Available",
    "email": "Not Available",
    "address": "Not Available",
    "specialization": "Not Available",
    "bio": "Not Provided",
    "teaching": "Not Provided",
    "personal_links": "Not Provided",
    "research_areas":  "Not Provided",
    "journal_articles": "0",
    "conference_papers": "0"
}, inplace=True)

In [91]:
df.isnull().sum()

name                 0
profile              0
education            2
phone                0
address              0
email                0
specialization       0
personal_links       0
bio                  0
teaching             0
research_areas       0
journal_articles     0
conference_papers    0
dtype: int64

## Remove ExtraSpace

In [92]:
for col in df.columns:
    df[col] = df[col].astype(str).str.strip()

## Fixed Email Format

In [93]:
def fix_email(email):
    email = email.replace("[at]", "@")
    email = email.replace("[dot]", ".")
    return email

df["email"] = df["email"].apply(fix_email)

In [94]:
df['email'].sample(5)

50          saurabh_t@dau.ac.in
9      ankush_chander@dau.ac.in
107        kc_supekar@dau.ac.in
76             mizzaro@uniud.it
77       thomas_mandl@dau.ac.in
Name: email, dtype: object

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               108 non-null    object
 1   profile            108 non-null    object
 2   education          108 non-null    object
 3   phone              108 non-null    object
 4   address            108 non-null    object
 5   email              108 non-null    object
 6   specialization     108 non-null    object
 7   personal_links     108 non-null    object
 8   bio                108 non-null    object
 9   teaching           108 non-null    object
 10  research_areas     108 non-null    object
 11  journal_articles   108 non-null    object
 12  conference_papers  108 non-null    object
dtypes: object(13)
memory usage: 11.1+ KB

## Fixed Name format

In [96]:
import re

df["name"] = df["name"].str.replace(r"\(.*?\)", "", regex=True).str.strip()

In [97]:
df["name"] = df["name"].str.title()

In [98]:
df[(df["name"] == "Anil Roy") | (df["name"] == "Prasenjit Majumder")]

,name,profile,education,phone,address,email,specialization,personal_links,bio,teaching,research_areas,journal_articles,conference_papers
6,Anil Roy,https://www.daiict.ac.in/faculty/anil-roy,"PhD (Physics), IIT Delhi",079-68261613,"# 1104, FB-1, DA-IICT, Gandhinagar, Gujarat, I...",anil_roy@dau.ac.in,"Applications of Image Processing, Fiber Optics...",Not Provided,Not Provided,Not Provided,Not Provided,0,0
35,Prasenjit Majumder,https://www.daiict.ac.in/faculty/prasenjit-maj...,"PhD (Computer Science), Jadavpur University",079-68261605,"# 4209, FB-4, DA-IICT, Gandhinagar, Gujarat, I...","p_majumder@dau.ac.in, prasenjit.majumder@gmail...","Natural Language Processing, Information Retri...",http://intranet.daiict.ac.in/~p_majumder/,Not Provided,"['Information Retrieval', 'Human Computer Inte...",Not Provided,0,0

## Handle Address

In [99]:
df["address"] = df["address"].str.replace("#","").str.strip()

In [100]:
df.sample(4)

,name,profile,education,phone,address,email,specialization,personal_links,bio,teaching,research_areas,journal_articles,conference_papers
39,Puneet Bhateja,https://www.daiict.ac.in/faculty/puneet-bhateja,"PhD (Computer Science), Chennai Mathematical I...",079-68261647,"2101, FB-2, DA-IICT, Gandhinagar, Gujarat, Ind...",puneet_bhateja@dau.ac.in,Theoretical Computer Science,Not Provided,Dr. Puneet Bhateja obtained his PhD in Theoret...,"['Design and Analysis of Algorithms', 'Models ...",Not Provided,0,0
51,Sayantan Paul,https://www.daiict.ac.in/faculty/sayantan-paul,PhD (Statistics) - Thesis Submitted,079-68261752,"3202, FB-3, DAU, Gandhinagar, Gujarat, India –...",sayantan_paul@dau.ac.in,"High-dimensional Inference, Multiple Testing, ...",https://scholar.google.com/citations?user=3o6P...,I completed my Bachelor's degree in Statistics...,"['Time Series', 'Bayesian Computation']",Not Provided,0,0
91,Kripabandhu Ghosh,https://www.daiict.ac.in/adjunct-faculty/kripa...,nan,Not Available,"Department of Computational and Data Sciences,...",kripaghosh@iiserkol.ac.in,Information Retrieval/Data Mining/AI on Legal ...,Not Provided,Not Provided,['Information Retrieval/Data Mining/AI on Lega...,Not Provided,0,0
41,Pushpendra Kumar,https://www.daiict.ac.in/faculty/pushpendra-kumar,"PhD (Mathematics), National Institute of Techn...",079-68261649,"4109, FB-4, DAU, Gandhinagar, Gujarat, India –...",pushpendra_kumar@dau.ac.in,"Fractional Calculus, Mathematical Modeling, Nu...",https://scholar.google.com/citations?user=qKRn...,Dr. Pushpendra Kumar is a dedicated researcher...,['Differential Equations; B.Tech. (MEC) 1st ye...,Not Provided,0,0

# Handle Specialization

In [101]:
df[(df["name"] == "Saurabh Tiwari") | (df["name"] == "Tapas Kumar Maiti")]

,name,profile,education,phone,address,email,specialization,personal_links,bio,teaching,research_areas,journal_articles,conference_papers
50,Saurabh Tiwari,https://www.daiict.ac.in/faculty/saurabh-tiwari,"PhD (Computer Science & Engineering), IIITDM, ...",079-68261618,"1102, FB-1, DA-IICT, Gandhinagar, Gujarat, Ind...",saurabh_t@dau.ac.in,Meet Prof. Saurabh Tiwari: The realm of Softwa...,https://sites.google.com/view/saurabhtiwari,Saurabh Tiwari is an Associate Professor at DA...,"['Software Engineering (SE)', 'Software Testin...","['I am seeking motivated PhD, postgraduate and...",0,0
62,Tapas Kumar Maiti,https://www.daiict.ac.in/faculty/tapas-kumar-m...,PhD (Electronics & Telecommunication Engineeri...,079-68261637,"2206, FB-2, DA-IICT, Gandhinagar, Gujarat, Ind...",tapas_kumar@dau.ac.in,Meet Dr. Tapas Kumar Maiti: Pioneering Researc...,https://sites.google.com/view/cybernoid,"Dr. Tapas Kumar Maiti, a former associate prof...","['Intelligent Devices and Systems', 'Robotics...","['Current PhD Student', 'Current Junior Resear...",0,0

In [102]:
df["specialization"] = df["specialization"].str.replace(
    r"Meet\s+(Dr\.|Prof\.).*?:",
    "",
    regex=True
)

In [103]:
df[(df["name"] == "Saurabh Tiwari") | (df["name"] == "Tapas Kumar Maiti")]

,name,profile,education,phone,address,email,specialization,personal_links,bio,teaching,research_areas,journal_articles,conference_papers
50,Saurabh Tiwari,https://www.daiict.ac.in/faculty/saurabh-tiwari,"PhD (Computer Science & Engineering), IIITDM, ...",079-68261618,"1102, FB-1, DA-IICT, Gandhinagar, Gujarat, Ind...",saurabh_t@dau.ac.in,The realm of Software Engineering and Innovat...,https://sites.google.com/view/saurabhtiwari,Saurabh Tiwari is an Associate Professor at DA...,"['Software Engineering (SE)', 'Software Testin...","['I am seeking motivated PhD, postgraduate and...",0,0
62,Tapas Kumar Maiti,https://www.daiict.ac.in/faculty/tapas-kumar-m...,PhD (Electronics & Telecommunication Engineeri...,079-68261637,"2206, FB-2, DA-IICT, Gandhinagar, Gujarat, Ind...",tapas_kumar@dau.ac.in,Pioneering Research in Robotics and Cybernetics,https://sites.google.com/view/cybernoid,"Dr. Tapas Kumar Maiti, a former associate prof...","['Intelligent Devices and Systems', 'Robotics...","['Current PhD Student', 'Current Junior Resear...",0,0

In [104]:
def specialization_to_list(x):

    if pd.isna(x) or x=="Not Provided":
        return x

    x = str(x)

    return [i.strip() for i in x.split(",") if i.strip()!=""]


df["specialization"] = df["specialization"].apply(specialization_to_list)

## Handle Teaching

In [105]:
df[(df["name"] == "Saurabh Tiwari") | (df["name"] == "Tapas Kumar Maiti") | (df["name"] == "Arpit Rana")]

,name,profile,education,phone,address,email,specialization,personal_links,bio,teaching,research_areas,journal_articles,conference_papers
12,Arpit Rana,https://www.daiict.ac.in/faculty/arpit-rana,"PhD (Computer Science), University College Cor...",079-68261687,"3105, FB-3, DA-IICT, Gandhinagar, Gujarat, Ind...",arpit_rana@dau.ac.in,"[Applied Machine Learning, Recommendation Syst...",https://www.linkedin.com/in/arpitrana/,Dr. Arpit Rana did his Ph.D. from University C...,['Introduction to Data Mining (Technical Elect...,Not Provided,"[""Arpit Rana , Rafael Martins D'addio, Marcelo...",['Arpit Rana and Derek Bridge. 2017. Explanati...
50,Saurabh Tiwari,https://www.daiict.ac.in/faculty/saurabh-tiwari,"PhD (Computer Science & Engineering), IIITDM, ...",079-68261618,"1102, FB-1, DA-IICT, Gandhinagar, Gujarat, Ind...",saurabh_t@dau.ac.in,[The realm of Software Engineering and Innovat...,https://sites.google.com/view/saurabhtiwari,Saurabh Tiwari is an Associate Professor at DA...,"['Software Engineering (SE)', 'Software Testin...","['I am seeking motivated PhD, postgraduate and...",0,0
62,Tapas Kumar Maiti,https://www.daiict.ac.in/faculty/tapas-kumar-m...,PhD (Electronics & Telecommunication Engineeri...,079-68261637,"2206, FB-2, DA-IICT, Gandhinagar, Gujarat, Ind...",tapas_kumar@dau.ac.in,[Pioneering Research in Robotics and Cybernetics],https://sites.google.com/view/cybernoid,"Dr. Tapas Kumar Maiti, a former associate prof...","['Intelligent Devices and Systems', 'Robotics...","['Current PhD Student', 'Current Junior Resear...",0,0

In [106]:
df.loc[df["name"]=="Gopinath Panda","teaching"].iloc[0]

"['Assistant Professor, DA-IICT, Gandhinagar', 'Discrete Mathematics (MC 123)', 'Mathematical Statistics (MC 221)', 'Exploratory Data Analysis (IT 495)', 'Discrete Mathematics (SC 612)', 'Exploratory Data Analysis (IT 462)', 'Adjunct Faculty, Florida Tech, USA.', 'Aviation Statistics (AVS 5205)', 'Applied Calculus and Statistics (MTH 1603)', 'Teaching Assistant, NISER Bhubaneswar, India.', 'Real Analysis', 'Teaching Assistant, IIT Bhubaneswar, India.', 'Mathematics I', 'Mathematics II', 'Probability and Random processes', 'Probability, Statistics, and Stochastic Processes']"

In [107]:
import re

BLACKLIST = [
    "assistant", "assistant professor", "adjunct faculty",
    "teaching assistant", "professor", "role",
    "da-iict", "gandhinagar", "florida tech",
    "niser", "iit", "india", "usa"
]


def clean_teaching_list(x):

    if pd.isna(x):
        return "Not Provided"

    x = str(x)

    # remove brackets & quotes
    x = x.strip("[]").replace("'", "")

    # split into list
    items = [i.strip() for i in x.split(",") if i.strip() != ""]

    cleaned = []

    for item in items:

        item = item.replace("\xa0"," ").strip()
        item_lower = item.lower()

        # remove URLs
        if re.search(r'https?://|www\.', item):
            continue

        # remove roles + institutes
        if any(b in item_lower for b in BLACKLIST):
            continue

        cleaned.append(item)

    if not cleaned:
        return "Not Provided"

    return cleaned


df["teaching"] = df["teaching"].apply(clean_teaching_list)

In [108]:
df.loc[df["name"]=="Gopinath Panda","teaching"].iloc[0]

['Discrete Mathematics (MC 123)',
 'Mathematical Statistics (MC 221)',
 'Exploratory Data Analysis (IT 495)',
 'Discrete Mathematics (SC 612)',
 'Exploratory Data Analysis (IT 462)',
 'Aviation Statistics (AVS 5205)',
 'Applied Calculus and Statistics (MTH 1603)',
 'Real Analysis',
 'Mathematics I',
 'Mathematics II',
 'Probability and Random processes',
 'Probability',
 'Statistics',
 'and Stochastic Processes']

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               108 non-null    object
 1   profile            108 non-null    object
 2   education          108 non-null    object
 3   phone              108 non-null    object
 4   address            108 non-null    object
 5   email              108 non-null    object
 6   specialization     108 non-null    object
 7   personal_links     108 non-null    object
 8   bio                108 non-null    object
 9   teaching           108 non-null    object
 10  research_areas     108 non-null    object
 11  journal_articles   108 non-null    object
 12  conference_papers  108 non-null    object
dtypes: object(13)
memory usage: 11.1+ KB

In [110]:
import ast

def fix_list(x):
    if isinstance(x, str):
        try:
            return ast.literal_eval(x)
        except:
            return x
    return x

df["journal_articles"] = df["journal_articles"].apply(fix_list)
df["conference_papers"] = df["conference_papers"].apply(fix_list)

In [111]:
def research_areas_list_to_sting(x):

    if pd.isna(x) or str(x).strip() == "":
        return "Not Provided"

    if x == "Not Provided":
        return x

    if str(x).startswith("["):
        x = ast.literal_eval(x)

    if type(x) == list:
        return " ".join(x)

    return x
df["research_areas"] = df["research_areas"].apply(research_areas_list_to_sting)

In [112]:
df.to_json("../data/raw_data.json", orient="records", indent=2)
print("Saved as JSON successfully!")

Saved as JSON successfully!

In [113]:
import json
import re

REPLACEMENTS = {
    r"\\xa0": " ",
    r"\\u2013": "",
    r"\\u201c": "",
    r"\\u201d": "",
    r"\\u2019": "'",

    "\xa0": " ",
    "\u2013": "",
    "\u201c": "",
    "\u201d": "",
    "\u2019": "'"
}

def clean_text(text):
    for k, v in REPLACEMENTS.items():
        text = re.sub(k, v, text)
    return re.sub(r"\s+", " ", text).strip()


def deep_clean(obj):

    if type(obj) == str:
        return clean_text(obj)

    if type(obj) == list:
        return [deep_clean(i) for i in obj]

    if type(obj) == dict:
        return {k: deep_clean(v) for k, v in obj.items()}

    return obj


FILE = "../data/raw_data.json"

with open(FILE, "r", encoding="utf-8") as f:
    data = json.load(f)

data = deep_clean(data)

with open(FILE, "w", encoding="utf-8") as f:
    json.dump(data, f, indent=4, ensure_ascii=False)